.forSearching {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.forSearchInput {
  height: 35px;
  align-self: start;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  transition: width 1s;
}

.forSearchInput:focus {
  outline: 1px solid rgb(30, 130, 193);
}

.searchIcon {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 15px;
  cursor: pointer;
}