.cardsWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(236, 236, 236);
}

.cardsContent {
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}